<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".VaccineDetails"
            android:exported="false" />
        <activity
            android:name=".CovidDetails"
            android:exported="false" />
        <activity
            android:name=".VaccineList"
            android:exported="false" />
        <activity
            android:name=".CoronaCasesList"
            android:exported="false" />
        <activity
            android:name=".Launcher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInput"
            android:exported="false" />
        <activity
            android:name=".SecondLottie"
            android:exported="false" />
        <activity
            android:name=".NewLottie"
            android:exported="false" />
        <activity
            android:name=".Lottie"
            android:exported="false" />
        <activity
            android:name=".ReportStatus2"
            android:exported="false" />
        <activity
            android:name=".ReportStatus1"
            android:exported="false" />
        <activity
            android:name=".VerificationPage"
            android:exported="false" />
        <activity
            android:name=".SignInPage"
            android:exported="false" />
        <activity
            android:name=".DashBoard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>